@using Blongo
@using Blongo.Models.ViewPost

@model IReadOnlyCollection<Comment>

<section class="m-t-3">
    <h3 id="comments">
        Comments
    </h3>

    <div class="post-comments">
        <p asp-if="!Model.Any()" class="alert alert-info" role="alert">
            No comments found.
        </p>

        @for (int i = 0; i < Model.Count; i++)
        {
            var comment = Model.ElementAt(i);

            <div class="post-comment">
                <div asp-if="User.Identity.IsAuthenticated" class="pull-xs-right">
                    <div class="dropdown">
                        <button class="btn btn-link btn-sm p-r-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars"></i></button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a asp-route="AdminEditComment" asp-route-id="@comment.Id" asp-route-returnUrl="@Url.RouteUrl("ViewPost", new { id = comment.PostId }, null, null, $"comment-{comment.Id}")" class="dropdown-item">Edit</a>
                            <form asp-route="AdminSpamComment" asp-route-id="@comment.Id" asp-route-returnUrl="@Url.RouteUrl("ViewPost", new { id = comment.PostId }, null, null, "comments")" class="btn-group-form form-confirm">
                                <button class="dropdown-item text-warning">Mark as spam</button>
                            </form>
                            <form asp-route="AdminDeleteComment" asp-route-id="@comment.Id" asp-route-returnUrl="@Url.RouteUrl("ViewPost", new { id = comment.PostId }, null, null, $"comments")" class="form-confirm">
                                <button type="submit" class="dropdown-item text-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>

                <img class="img-rounded pull-xs-left m-r-1 m-b-1" asp-gravatar-emailaddress="@comment.Commenter.EmailAddress" asp-gravatar-default="identicon" asp-gravatar-size="48" alt="Gravatar" title="@comment.Commenter.EmailAddress" />

                <h4 id="comment-@comment.Id">
                    @comment.Commenter.Name
                </h4>

                <div class="clearfix">
                </div>

                <ul asp-if="@(!string.IsNullOrWhiteSpace(comment.Commenter.WebsiteUrl))" class="list-inline list-unstyled">
                    <li class="list-inline-item">
                        <i class="fa fa-bookmark"></i>
                    </li>
                    <li class="list-inline-item">
                        <a href="@comment.Commenter.WebsiteUrl" target="_blank">@comment.Commenter.WebsiteUrl</a>
                    </li>
                </ul>

                <ul class="list-inline list-unstyled">
                    <li class="list-inline-item">
                        <i class="fa fa-calendar-o"></i>
                    </li>
                    <li class="list-inline-item">
                        @comment.CreatedAt.RelativeTo(DateTime.UtcNow)
                    </li>
                </ul>

                @Html.Markdown(comment.Body)
            </div>

            <hr asp-if="@i < Model.Count - 1" />
        }
    </div>
</section>
