<section class="sidebar">
    <div class="text-sm-center text-md-left">
        <a asp-route="ListPosts">
            <img class="sidebar-avatar" asp-gravatar-emailaddress="@ViewBag._BlogAuthorEmailAddress" asp-gravatar-default="identicon" asp-gravatar-size="60" alt="@ViewBag._BlogName" title="@ViewBag._BlogName" />
        </a>
    </div>

    <ul class="sidebar-list">
        <li asp-visible="!string.IsNullOrWhiteSpace(ViewBag._BlogFeedUrl)">
            <a href="@ViewBag._BlogFeedUrl" class="btn btn-raised btn-rss btn-sm" title="Feed"><i class="fa fa-rss fa-fw"></i> <span>Feed</span></a>
        </li>
        <li asp-visible="!string.IsNullOrWhiteSpace(ViewBag._BlogAuthorWebsiteUrl)">
            <a href="@ViewBag._BlogAuthorWebsiteUrl" class="btn btn-raised btn-website btn-sm" title="Website"><i class="fa fa-bookmark fa-fw"></i> <span>Website</span></a>
        </li>
        <li asp-visible="!string.IsNullOrWhiteSpace(ViewBag._BlogAuthorEmailAddress)">
            <a href="#" class="btn btn-raised btn-email btn-sm" data-emailaddress="@string.Join(",", ViewBag._BlogAuthorEmailAddress.ToCharArray())" title="Email"><i class="fa fa-envelope fa-fw"></i> <span>Email</span></a>
        </li>
        <li asp-visible="!string.IsNullOrWhiteSpace(ViewBag._BlogAuthorGitHubUsername)">
            <a href="https://github.com/@ViewBag._BlogAuthorGitHubUsername" class="btn btn-raised btn-github btn-sm" title="Github"><i class="fa fa-github fa-fw"></i> <span>GitHub</span></a>
        </li>
        <li asp-visible="!string.IsNullOrWhiteSpace(ViewBag._BlogAuthorTwitterUsername)">
            <a href="https://twitter.com/@ViewBag._BlogAuthorTwitterUsername" class="btn btn-raised btn-twitter btn-sm" title="Twitter"><i class="fa fa-twitter fa-fw"></i> <span>Twitter</span></a>
        </li>
    </ul>

    <div class="clearfix">
    </div>

    <h1 class="sidebar-header">
        <a asp-route="ListPosts">@ViewBag._BlogName</a>
    </h1>

    <h2 asp-visible="!string.IsNullOrWhiteSpace(ViewBag._BlogDescription)" class="sidebar-subheader">
        @ViewBag._BlogDescription
    </h2>
</section>