@using Blongo
@using Blongo.Models.TopNavbar

@model TopNavbarViewModel

<div>
    <div id="navbar-collapsible" class="collapse">
        <div class="container-fluid bg-faded p-a-1">
            <ul class="nav navbar-nav">
                <li>
                    <a asp-route="ListPosts">View Blog</a>
                </li>
                <li>
                    <a asp-route="AdminListPosts">Posts</a>
                </li>
                <li>
                    <a asp-route="AdminCreatePost" asp-route-returnUrl="@ViewContext.HttpContext.Request.Path">Create Post</a>
                </li>
                <li>
                    <a asp-route="AdminListComments" asp-route-id="">Comments</a>
                </li>
                <li>
                    <a asp-route="AdminListUsers" asp-route-returnUrl="@ViewContext.HttpContext.Request.Path">Users</a>
                </li>
                <li asp-visible="@User.IsInRole(UserRoles.Administrator)">
                    <a asp-route="AdminCreateUser" asp-route-returnUrl="@ViewContext.HttpContext.Request.Path">Create User</a>
                </li>
                <li>
                    <a asp-route="AdminListImages" asp-route-returnUrl="@ViewContext.HttpContext.Request.Path">Images</a>
                </li>
                <li>
                    <a asp-route="AdminUploadImage" asp-route-returnUrl="@ViewContext.HttpContext.Request.Path">Upload Image</a>
                </li>
                <li>
                    <a asp-route="AdminEditAuthor">Author</a>
                </li>
                <li>
                    <a asp-route="AdminEditSettings" asp-route-returnUrl="@ViewContext.HttpContext.Request.Path">Settings</a>
                </li>
                <li>
                    <a asp-route="AdminUploadFavicon" asp-route-returnUrl="@ViewContext.HttpContext.Request.Path">Upload Favicon</a>
                </li>
                <li>
                    <form asp-route="AdminLogout" asp-route-returnUrl="@Url.RouteUrl(ViewContext.RouteData.Values)">
                        <button type="submit" class="btn btn-link p-a-0">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>

    <nav class="navbar navbar-full navbar-static-top navbar-dark bg-primary" role="navigation">

        <a asp-route="AdminListPosts" class="navbar-brand">Blongo</a>
        <ul class="nav navbar-nav pull-xs-right">
            <li asp-visible="Model.User != null" class="nav-item">
                <a class="nav-link" href="#">
                    <img class="navbar-avatar" asp-gravatar-emailaddress="@Model.User.EmailAddress" asp-gravatar-default="identicon" asp-gravatar-size="24" alt="Gravatar" /> <span class="hidden-xs-down">@Model.User.Name</span>
                </a>
            </li>
            <li class="nav-item">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapsible">
                    &#9776;
                </button>
            </li>
        </ul>
    </nav>
</div>